.background-box {
  width: 100vw;
  height: 100vh;
  background: lightsteelblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background-box .main-box {
  width: 85%;
  height: 85%;
  background-color: #212121;
  border-radius: 2rem;

  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 12fr;
  align-items: space-between;
  /* align-content: center; */
}

.main-box .sidebar {
  grid-area: sidebar;
  margin: 0.75rem;
  margin-right: 0;
  border-radius: 2rem;
}

.main-box .navbar {
  grid-area: navbar;
}

.main-box .chart-filter {
  grid-area: chart_filter;
}

.main-box .main-content {
  grid-area: main;
  margin: 0.75rem;
  background-color: #e4edf1;
  border-radius: 2rem;

  display: grid;
  grid-template-areas:
    "chart_filter navbar"
    "balance_chart accounts"
    "balance_chart accounts"
    "transactions2 transactions2";
  grid-template-columns: 12fr 5fr;
  grid-template-rows: 0.4fr 2.25fr 2fr 3fr;
  /* gap: 0.5rem; */
}

.main-logo svg {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
}

/* boilerplate CSS */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
